body {
  padding: 0 0.25em;
}

img {
  margin-bottom: 1em;
  margin-top: 0.5em;
  display: block;
  width: auto;
  max-width: 100%;
  min-width: 270px;
  box-shadow: 2px 2px 6px #333;
}

li {
   margin-top: 0.5em;
}